.projectContainer{
    width: 1090px;
    margin: 0px auto 40px auto;
}

.projectGrid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, auto);
}

.pinned-project{
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    flex-direction: row-reverse;
    /* height: 400px; */
}

.unpinned-project{
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.unpinnedIcon{
    margin: auto;
    max-width: 70%;
}

.pinnedProjectText {
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto;
}

.pinnedProjectButton{
    background-color: unset;
    border-color: #555555;
    color: #555555;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 32px;
    border-width: 1px;
}

.pinnedProjectButton::before{
    content: "Visit Project";
}

.pinnedProjectButton:hover{
    opacity: 70%;
}

#unpinnedProjectTitleContainer {
    margin: auto;
    padding: 0;
    display: flex;
}

#unpinnedProjectBriefContainer {
    margin: auto;
    padding: 0;
    display: flex;
}

#unpinnedProjectTitle{
    font-size:16px;
    margin: auto 0 auto 8px;
    line-height: 20px;
}

#unpinnedProjectBrief{
    font-size:14px;
    margin: auto 0 auto 8px;
    color: #555555;
    line-height: 16px;
}

@media only screen and (max-width: 1200px) {
    .projectContainer{
        width: 910px;
    }
    
}

@media only screen and (max-width: 990px) {
    .projectContainer{
        width: 670px;
    }
}

@media only screen and (max-width: 767px) {
    .projectContainer{
        width: 490px;
    }

    .pinnedProjectText {
        margin: 4px 8px;
    }

    #unpinnedProjectTitleContainer {
        margin-bottom: 0px;
    }

    #unpinnedProjectBriefContainer {
        margin-top: 0px;
    }

    #unpinnedProjectBrief{
        font-size: 13px;
        color: #888;
    }

    .unpinned-project .pinnedProjectButton {
        background-color: black;
    }

    #unpinned-project-button .pinnedProjectButton::before {
        content: "Visit";
    }
}

@media only screen and (max-width: 540px) {
    .projectContainer{
        width: 88%;
    }
}