@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './typography.css';
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-kerning: normal;
    font-size: 22px;
    background-color: #fdfffd;
}
.navbarr {
    width: 100vw;
    height: 160px;
    border-width: 0px;
    /* border-bottom: 0.5px; */
    border-style: solid;
    border-color: #E6E8E9;
    background-image: linear-gradient(90deg, rgb(255, 238, 196) 0%, rgb(167, 255, 218) 100%);
    display: inline-flex;
    background-color: #fdfffd;
    overflow: hidden;
    font-size: 16px;
}

.navbarIcon {
    /* height: 100%; */
    width: 17.5px;
    object-fit: contain;
    padding: 14px 0px 14px 0px;
    margin-right: 32px;
}

#linkContainer {
    margin-left: auto;
    position: relative;
    transition: top ease 0.25s;
    overflow: hidden;
}
.link{
    padding-top: 10px;
    text-align: right;
    opacity: 0;
    transition: opacity ease 0.2s;
}
.name{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 32px;
    /* margin-left: auto; */
}

.navbarIcon:hover {
    opacity: .5;
}

.footer {
    width: 100vw;
    height: 52px;
    border-width: 0px;
    border-top: 0.5px;
    border-style: solid;
    border-color: #E6E8E9;
    overflow: hidden;
}

.footer .container {
    height: 100%;
    text-align: right;
    border-width: 0px;
    border-right: 0.5px;
    border-style: solid;
    border-color: #E6E8E9;
    display: inline-flex;
    vertical-align: middle;
}

.footer #quote{
    display: inline-flex;
}

.footer p{
    width: 90%;
    vertical-align: middle;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: auto 8px;
    line-height: 14px;
}

.quote-icon{
    margin: auto 0px auto auto;
}

.landing{
    vertical-align: middle;
    color: #444;
    font-weight: 400;
}

.profPic {
    width: 95%;
    margin-top: -60px;
}

.landing-container{
    padding: 10% 0px 24px 0px;
}

.landing-link{
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
}

.landing-link p{
    margin-right: 24px;
    color:#428bca;
}

.landing-heading {
    font-size: 42px;
    line-height: 1.35em;
    font-family: "Gr-Med", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    letter-spacing: -1px;
}

.landing-link a:hover{
    text-decoration: none;
}

.landing-link p:hover{
    color: rgb(34, 80, 132);
}

.projectContainer{
    width: 1090px;
    margin: 0px auto 40px auto;
}

.projectGrid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(1, auto);
}

.pinned-project{
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    flex-direction: row-reverse;
    /* height: 400px; */
}

.unpinned-project{
    min-height: 80px;
    border-width: 1px 0 0px 0;
    border-color: #eee;
    border-style: solid;
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    display: flex;
    flex-direction: row-reverse;
}

.unpinnedIcon{
    margin: auto;
    align-self: center;
    max-width: 70%;
}

.pinnedProjectText {
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto;
}

.pinnedProjectButton{
    background-color: unset;
    border-color: #555555;
    color: #555555;
    font-weight: 400;
    font-size: 14px;
    padding: 8px;
    border-width: 1px;
}

.pinnedProjectButton::before{
    content: "Visit Project";
}

.pinnedProjectButton:hover{
    opacity: 70%;
}

#unpinnedProjectTitleContainer {
    margin: auto;
    padding: 0;
    display: flex;
}

#unpinnedProjectBriefContainer {
    margin: auto;
    padding: 0;
    display: flex;
}

#unpinnedProjectTitle{
    font-size:16px;
    margin: auto 0 auto 8px;
    line-height: 20px;
}

#unpinnedProjectBrief{
    font-size:14px;
    margin: auto 0 auto 8px;
    color: #555555;
    line-height: 16px;
}

@media only screen and (max-width: 1200px) {
    .projectContainer{
        width: 910px;
    }
    
}

@media only screen and (max-width: 990px) {
    .projectContainer{
        width: 670px;
    }
}

@media only screen and (max-width: 767px) {
    .projectContainer{
        width: 490px;
    }

    .pinnedProjectText {
        margin: 4px 8px;
    }

    #unpinnedProjectTitleContainer {
        margin-bottom: 0px;
    }

    #unpinnedProjectBriefContainer {
        margin-top: 0px;
    }

    #unpinnedProjectBrief{
        font-size: 13px;
        color: #888;
    }

    #unpinned-project-button .pinnedProjectButton::before {
        content: "Visit";
    }
}

@media only screen and (max-width: 540px) {
    .projectContainer{
        width: 85%;
    }
}

@media only screen and (max-width: 767px) {
    .profPic {
        height: 180px;
        object-fit: cover;
        object-position: top;
        margin-bottom: -60px;
    }
}

@media only screen and (max-width: 600px) {
    .landing-link{
        font-size: 16px;
    }
    
    .landing-heading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .footer p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 600px) {

    .name{
        margin-right: 13px;
        margin-left: auto;
    }

    .navbarIcon{
        margin-right: 13px;
    }
}

@media only screen and (max-width: 400px) {
    #linkContainer {
        width: 0;
    }
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
}